
@font-face {
  font-family: 'JetBrains Mono';
  src: url('Jetbrainsmonoregular.woff2') format('woff2'),
    url('Jetbrainsmonoregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('STIXTwoText-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.woff2') format('woff2') url('Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
